
$breakpoint-tablet: 768px;

* {
  box-sizing: border-box;
}

.activity-container {
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  border: 2px solid #2225;
  box-shadow: 0px 5px 15px -10px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 15px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 15px -10px rgba(0,0,0,0.75);
}

.activity-item-last {
  margin-bottom: 0;
}

.activity-item-first {
  margin-top: 0;
}

.activity-title-container {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;

  @media (max-width: $breakpoint-tablet) {
    flex-wrap: wrap;
  }
}

.activity-actividad-container {
  background: rgba(44, 44, 44, 0.822);
  color: white;
  padding: 0.5em 1em;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.activity-actividad {
  padding-bottom: 0.5em;
  width: 100%;
}

.activity-programa {
  border-top: 2px dashed white;
  padding-top: 0.5em;
  width: 100%;
}

.activity-datos-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background: #000;
  color: white;

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}

.activity-vacantes {
  // width: 100%;
  padding: 0.25em;
  font-weight: bold;
  white-space: pre;
}

.activity-fechas {
  padding: 0.25em;
  white-space: nowrap;
}

.activity-prestatario {
  background: white;
  font-size: 1.25em;
  border: 2px solid #2225;
  padding: 0.25em 0.5em;
  width: 100%;
}

.activity-domicilio-container {
  background: rgb(99, 59, 27);
  color: white;
  padding: 0.25em 0.5em;
}

.activity-descripcion {
  padding: 1em;
}

.activity-objetivo {
  margin: 0.5em 0;
}

.activity-justificacion {
  margin: 0.5em 0;
}

.activity-description-title {
  font-size: 0.90em;
}


.notebook-container {
  height: auto;
}

.notebook-list {
  color: #555;
  font-size: 1em;
  padding: 0 !important;
  width: 100%;
  font-family: courier, monospace;
  // border: 1px solid #dedede;
}

.notebook-list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}
.notebook-list li:hover {
  filter: brightness(1.1);
  transition: all 0.2s;
}

.notebook-subtitle {
  font-size: 0.75em;
}

// .notebook-lines {
//   border-left: 1px solid #ffaa9f;
//   border-right: 1px solid #ffaa9f;
//   width: 2px;
//   float: left;
//   height: 495px;
//   margin-left: 1em;
// }

.highlight{
  display: inline-block;
  padding: .25em 0;

  &.red {
    background: #ff0707;
    color: #ffffff;
  }

  &.orange {
    background: #ff6207;
    color: #ffffff;
  }

  &.green {
    background: #07ff30;
    color: #ffffff;
  }

  &.blue {
    background: #079cff;
    color: #ffffff;
  }

  &.pink {
    background: #ff07ea;
    color: #ffffff;
  }

  &.brown {
    background: #c5582d;
    color: #ffffff;
  }
}
