<div [ngClass]="{ 'activity-item-last': lastItem, 'activity-item-first': firstItem }" class="activity-container" *ngIf="activity.actividad_removed == false && activity.actividad_liked == false">
  <div class="activity-actions">
    <button (click)="onClickRemove()" class="btn-action-remove">Remover</button>
    <button (click)="onClickLike()" class="btn-action-like">Favoritos</button>
  </div>
  <div class="notebook-container">
    <div class="notebook-lines"></div>
    <ul class="notebook-list">
      <li class="notebook-subtitle">Actividad:</li>
      <li><span class="highlight blue">{{ activity.nombre_actividad }}</span></li>
      <li class="notebook-subtitle">Programa:</li>
      <li>{{ activity.nombre_programa }}</li>
      <li>{{ activity.numero_vacantes }} vacantes, Del {{ activity.fechaInicioTermino }}</li>
      <li class="notebook-subtitle">Nombre del prestatario:</li>
      <li>{{ activity.nombre_prestatario }}</li>
      <li>{{ activity.nombre_largo_prestatario }}</li>
      <li class="notebook-subtitle">Objetivo del programa:</li>
      <li>{{ activity.objetivo_programa | lowercase }}</li>
      <li>Justificación del programa:</li>
      <li>{{ activity.justificacion_programa | lowercase }}</li>
      <li class="notebook-subtitle">Domicilio:</li>
      <li><span class="highlight brown">{{ activity.domicilio_programa }}</span></li>
      <li class="notebook-subtitle">Representante del programa:</li>
      <li *ngIf="false">{{ activity.nombre_representante }}</li>
      <li *ngIf="false">{{ activity.medios_contacto_representante }}</li>
      <li class="notebook-subtitle">Apoyos:</li>
      <li>{{ activity.apoyos_programa }}</li>
    </ul>
  </div>
</div>
