<div class="activities-container">
  @for (activityItem of (activitiesArr | activitiesFilter:filtroBusqueda.textoBusqueda:filtroBusqueda.filtroBusqueda); track activityItem; let last = $last; let first = $first) {
    @switch (activityType) {
      @case ('removed') {
        @if (activityItem.actividad_removed) {
          <app-activity-item [activity]="activityItem" (removeActivity)="removeActivity($event)" (likeActivity)="likeActivity($event)"></app-activity-item>
        }
      }
      @case ('liked') {
        @if (activityItem.actividad_liked) {
          <app-activity-item [activity]="activityItem" (removeActivity)="removeActivity($event)" (likeActivity)="likeActivity($event)"></app-activity-item>
        }
      }
      @default {
        @if (!activityItem.actividad_liked && !activityItem.actividad_removed) {
          <app-activity-item [activity]="activityItem" (removeActivity)="removeActivity($event)" (likeActivity)="likeActivity($event)"></app-activity-item>
        }
      }
    }
  }
</div>
