<div class="container">
  <app-activity-search-form (emitirFiltrosBusqueda)="changeFiltroBusqueda($event)"></app-activity-search-form>

  <div class="activities-container">
    <ng-container *ngFor="let activityItem of activitiesArr | activitiesFilter:filtroBusqueda.textoBusqueda:filtroBusqueda.filtroBusqueda">
      <div class="activity-container" *ngIf="activityItem.actividad_removed == false">
        <div class="activity-title">
          <button (click)="removeActivity(activityItem.actividad_id)" class="">Remover</button>
          <div class="activity-title-container">
            <div class="activity-actividad-container">
              <p class="activity-actividad">Actividad: {{ activityItem.nombre_actividad }}</p>
              <p class="activity-programa">Programa: {{ activityItem.nombre_programa }}</p>
            </div>
            <div class="activity-datos-container">
              <p class="activity-vacantes">{{ activityItem.numero_vacantes }} vacantes</p>
              <p class="activity-fechas">{{ activityItem.fechaInicioTermino }}</p>
            </div>
          </div>
          <button class="activity-prestatario" (click)="toggleActivityPrestatarioLargo(activityItem.actividad_id)">
            <p *ngIf="!activityItem.mostrar_prestatario_largo" class="activity-prestatario-short">{{ activityItem.nombre_prestatario }}</p>
            <p *ngIf="activityItem.mostrar_prestatario_largo" class="activity-prestatario-long">{{ activityItem.nombre_largo_prestatario }}</p>
          </button>
        </div>

        <div class="activity-descripcion">
          <p class="activity-description-title">Objetivo del programa:</p>
          <p class="activity-objetivo">{{ activityItem.objetivo_programa | lowercase }}</p>
          <p class="activity-description-title">Justificación del programa:</p>
          <p class="activity-justificacion">{{ activityItem.justificacion_programa | lowercase }}</p>
        </div>
        <div class="activity-domicilio-container">
          <p class="activity-">{{ activityItem.domicilio_programa }}</p>
        </div>
        <p class="activity-">{{ activityItem.nombre_representante }}</p>
        <p class="activity-">{{ activityItem.medios_contacto_representante }}</p>
        <p class="activity-">{{ activityItem.apoyos_programa }}</p>
      </div>
    </ng-container>
  </div>
</div>
